/* Global Color Styling */
:root{
  --colro1: #7ED957;
  --color2: grey;
  --color3: #cecece;
}
/* Global Color Styling end*/

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* Dropdown */
#dropdown-basic{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}
/* Dropdown end*/
